accelerate
addict
aiohttp
albumentations
cachetools
clip-interrogator
color-matcher
colour-science
compel
cupy-cuda12x
deepdiff
diffusers
dill
einops
fairscale
filelock
ftfy
fvcore
GitPython
gpytoolbox
huggingface_hub
imageio
imageio-ffmpeg
importlib-metadata
jaxtyping
joblib
kornia
lark
matplotlib
matrix-client==0.4.0
mediapipe
mss
nanobind
nerfacc
ninja
numba
numexpr
numpy<2
omegaconf
onnx
onnxruntime
onnxruntime-gpu
open-clip-torch
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
peft
piexif
pilgram
pillow
plyfile
psutil
py-cpuinfo
pygit2
PyGithub
pygltflib
pyhocon
PyMCubes
pymeshlab
pynvml
python-dateutil
python-ffmpeg
pytorch-lightning
pytorch-msssim
pyyaml
qrcode[pil]
regex
rembg
requests
requirements-parser
rich
rich-argparse
safetensors
scikit_build_core
scikit-image
scikit-learn
scipy
segment-anything
sentencepiece
simpleeval
slangtorch
soundfile
spandrel
svglib
timm
tokenizers
torch
torchaudio
torchdiffeq
torchmetrics
torchsde
torchtyping
torchvision
tqdm
transformers
transparent-background
trimesh[easy]
typer
typing-extensions
ultralytics
webcolors
xatlas
yacs
yapf
git+https://github.com/rodjjo/filterpy.git
