pillow>=10.2.0
GitPython
PyMCubes
accelerate
addict
aiohttp
albumentations
cachetools
clip-interrogator
cmake
color-matcher
colour-science
compel
cupy-cuda12x
deepdiff
diffusers
dlib
einops
fairscale
filelock
ftfy
fvcore
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/openai/CLIP.git
gradio
gradio-client
huggingface-hub
imageio
imageio-ffmpeg
importlib-metadata
insightface
jaxtyping
joblib
kornia
lark
librosa
matplotlib
matrix-client==0.4.0
mediapipe
nerfacc
ninja
numba
numexpr
numpy
omegaconf
onnxruntime
open-clip-torch
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
piexif
pilgram
plyfile
psutil
py-cpuinfo
pygit2
pygltflib
pyhocon
pymeshlab
pynvml
python-dateutil
python-ffmpeg
pytorch-msssim
pyyaml
regex
rembg
roma
safetensors
scikit-image
scikit-learn
scipy
segment-anything
simpleeval
svglib
timm
torch
torchdiffeq
torchmetrics
torchsde
torchtyping
torchvision
tqdm
transformers
trimesh[easy]
ultralytics!=8.0.177
xatlas
yacs
yapf
