
accelerate 
addict
aiohttp
albumentations
cachetools
clip-interrogator
cmake
color-matcher
colour-science
compel
cupy-cuda12x
deepdiff
diffusers
diffusers>=0.26.1
dlib
einops
fairscale
filelock
ftfy
fvcore
GitPython
huggingface_hub
huggingface-hub>0.20
imageio
imageio-ffmpeg
importlib_metadata
insightface
jaxtyping
kornia
kornia>=0.7.1
lark
librosa
matplotlib
matrix-client==0.4.0
mediapipe
nerfacc>=0.5.3
ninja
numba
numexpr
numpy
omegaconf
OmegaConf
onnxruntime
onnxruntime-gpu
open_clip_torch
opencv-contrib-python
opencv-python
opencv-python 
opencv-python>=4.7.0.72
opencv-python-headless
packaging
pandas
piexif
pillow
Pillow
Pillow>=9.5.0
plyfile
psutil
py-cpuinfo
pygit2
pygltflib
pyhocon
PyMCubes
pymeshlab
pynvml
python-dateutil
python-ffmpeg
pytorch_msssim
pyyaml
rembg
roma
safetensors
safetensors>=0.3.0
scikit-image
scikit-learn
scipy
scipy>=1.11.4
segment-anything
segment_anything
simpleeval
svglib
timm
torch
torchdiffeq
torchsde
torchtyping
torchvision
tqdm
transformers
transformers 
transformers>=4.25.1
transformers>=4.36.2
trimesh
trimesh[easy]
ultralytics!=8.0.177
xatlas
yacs
yapf
