https://raw.githubusercontent.com/z-mahmud22/Dlib_Windows_Python3.x/main/dlib-19.24.1-cp311-cp311-win_amd64.whl
https://raw.githubusercontent.com/Gourieff/Assets/main/Insightface/insightface-0.7.3-cp311-cp311-win_amd64.whl
gradio
gradio-client
pixeloe
git+https://github.com/openai/CLIP.git
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
