numpy==1.26.4
addict
aiohttp
albumentations
bitsandbytes
black
blend-modes
blind-watermark
cachetools
clip-interrogator
color-matcher
colour-science
deepdiff
dill
einops
fastapi
filelock
GitPython
google-generativeai
imageio-ffmpeg
importlib-metadata
iopath
jaxtyping
lark-parser
loguru
matrix-client==0.4.0
mediapipe
mss
nanobind
nerfacc
ninja
numba
numexpr
open-clip-torch
packaging
peft
piexif
plyfile
protobuf
psd-tools
psutil
py-cpuinfo
PyGithub
pygltflib
pyhocon
pymatting
PyMCubes
pymeshlab
pynvml
python-dateutil
pytorch-lightning
pytorch-msssim
pyyaml
pyzbar
qrcode[pil]
rembg
requests
requirements-parser
rich
rich-argparse
safetensors
segment-anything
sentencepiece
simpleeval
slangtorch
soundfile
spandrel
svglib
tokenizers
torchscale
torchsde
torchtyping
tqdm
transparent-background
trimesh[easy]
typer
typer-config
typing-extensions
ultralytics
wandb
webcolors
wget
xatlas
yacs
yapf
