pillow>=10.2.0
GitPython
PyMCubes
accelerate
addict
aiohttp
albumentations
cachetools
clip-interrogator
color-matcher
colour-science
compel
cupy-cuda12x
deepdiff
diffusers
einops
fairscale
filelock
ftfy
fvcore
huggingface-hub
imageio
imageio-ffmpeg
importlib-metadata
jaxtyping
joblib
kornia
lark
librosa
matplotlib
matrix-client==0.4.0
mediapipe
nerfacc
ninja
numba
numexpr
numpy
omegaconf
onnxruntime
onnxruntime-gpu
open-clip-torch
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
piexif
pilgram
pixeloe
plyfile
psutil
py-cpuinfo
pygit2
pygltflib
pyhocon
pymeshlab
pynvml
python-dateutil
python-ffmpeg
pytorch-msssim
pyyaml
qrcode[pil]
regex
rembg
requirements-parser
rich
rich-argparse
roma
safetensors
scikit-image
scikit-learn
scipy
segment-anything
simpleeval
svglib
timm
torch
torchdiffeq
torchmetrics
torchsde
torchtyping
torchvision
tqdm
transformers
trimesh[easy]
ultralytics!=8.0.177
xatlas
yacs
yapf
