# Deps for 3D-Pack
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/pointnet2_ops-3.0.0-cp312-cp312-win_amd64.whl
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/simple_knn-0.0.0-cp312-cp312-win_amd64.whl
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/diff_gaussian_rasterization-0.0.0-cp312-cp312-win_amd64.whl
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/kiui-0.2.14-py3-none-any.whl
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/nvdiffrast-0.3.3-py3-none-any.whl
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/torch_scatter-2.1.2-cp312-cp312-win_amd64.whl
https://github.com/YanWenKun/ComfyUI-Windows-Portable/releases/download/v6.2-wheels/pytorch3d-0.7.8-cp312-cp312-win_amd64.whl
