accelerate
addict
aiohttp
albumentations
bitsandbytes
black
blend-modes
blind-watermark
cachetools
clip-interrogator
color-matcher
colour-science
compel
cupy-cuda12x
deepdiff
diffusers
dill
einops
fairscale
fastapi
filelock
ftfy
fvcore
gguf
GitPython
google-generativeai
gpytoolbox
huggingface-hub[hf-transfer]
imageio
imageio-ffmpeg
importlib-metadata
inference-cli
inference-gpu[yolo-world]
iopath
jaxtyping
joblib
kornia
lark
lark-parser
loguru
matplotlib
matrix-client==0.4.0
mediapipe
mss
nanobind
nerfacc
ninja
numba
numexpr
numpy<2
omegaconf
onnx
onnxruntime
onnxruntime-gpu
open-clip-torch
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
peft
piexif
pilgram
pillow
plyfile
protobuf
psd-tools
psutil
py-cpuinfo
pygit2
PyGithub
pygltflib
pyhocon
pymatting
PyMCubes
pymeshlab
pynvml
python-dateutil
python-ffmpeg
pytorch-lightning
pytorch-msssim
pyyaml
pyzbar
qrcode[pil]
regex
rembg
requests
requirements-parser
rich
rich-argparse
safetensors
scikit-build-core
scikit-image
scikit-learn
scipy
segment-anything
sentencepiece
simpleeval
slangtorch
soundfile
spandrel
svglib
timm
tokenizers
torch
torchaudio
torchdiffeq
torchmetrics
torchscale
torchsde
torchtyping
torchvision
tqdm
transformers
transparent-background
trimesh[easy]
typer
typer-config
typing-extensions
ultralytics
wandb
webcolors
wget
xatlas
yacs
yapf
git+https://github.com/rodjjo/filterpy.git
https://raw.githubusercontent.com/chflame163/ComfyUI_LayerStyle/refs/heads/main/whl/docopt-0.6.2-py2.py3-none-any.whl
https://raw.githubusercontent.com/chflame163/ComfyUI_LayerStyle/refs/heads/main/whl/hydra_core-1.3.2-py3-none-any.whl
