name: "Test Build (No Upload)"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
        - uses: actions/checkout@v4

        - name: Stage 1 Gathering Dependencies
          shell: bash
          working-directory: builder
          run: bash stage1.sh

        - name: Stage 2 Assembling Repositories
          shell: bash
          working-directory: builder
          run: bash stage2.sh
